@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #1f2025;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1380px;
  margin: auto;
  display: block;
  justify-content: center;
}

.green-polygon{
  position: relative;
}
.green-polygon:before{
  background-color: #2DF494;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  animation: flickerAnimation 0.75s infinite;
}
.blue-polygon:before{
  background-color: #0C5AF5;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  animation: flickerAnimation 0.75s infinite;
}

@keyframes flickerAnimation {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
